<!DOCTYPE html>
<center>
    <h1>JIYEON's index.html</h1>
    <style>
        a {text-decoration:none}
    </style>
    <a href="list">주소록</a><br/>
    <br/>
    <a href="board/list">게시판</a><br/> 
    <br/><br/>

    {% if request.session.login_ok_user %}
        <a href= 'logout'>로그아웃</a>
    {% else %}
        <a href= 'login'>로그인</a>
    {% endif %}
    
    <br><br/>
    <a href="template1/">template1</a><br/>
    <a href="template2/">template2</a><br/>
    <a href="template3/">template3</a><br/>
    <a href="template4/">template4</a><br/>
    <a href="template5/">template5</a><br/>
    <a href="template6/">template6</a><br/>
    <a href="template7/">template7(로그인서비스)</a><br/>
    <a href="template8/">template8</a><br/>

</center>